{% extends "csv_gestion/csv_gestion_base.html" %}
{% load static %}


{% block title %} Curatio Add Rows {% endblock %}

{% block content %}
    <div class="main_logo">
        <img src="{% static 'ressources/add_rows_logo.png' %}" alt="">
    </div>
    
    <label for="{{ form.column.id_for_label }}">Upload Your CSV File :</label> 
    <br>
    {{ form.csv_file }}
    <br>
    <input class="input_user" type="text" name="{{ form.column.name }}" placeholder="Name column">
    <br>
    <input class="input_user" type="text" name="{{ form.start_row.name }}" placeholder="Number starting interval">
    <br>
    <input class="input_user" type="text" name="{{ form.end_row.name }}" placeholder="Number ending interval">
    <br>
    <input class="input_user" type="text" name="{{ form.value.name }}" placeholder="Enter value rows">
    <br>
    <button class="btn_submit" type="submit">Add Row</button>
{% endblock %}