@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

body {
    background-color: #292f36;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
}

    .nav_logo {
        padding: 1em;
    }

        .nav_logo img {
            padding: 0.5em;
            width: 6em;
            height: auto;
        }

    .nav_txt {
        margin-top: 2.5em;
        margin-right: 3em;
        text-shadow: 1px 3px 4px rgba(0,0,0,0.45);
        padding: 1em;
    }

        .nav_txt a {
            text-decoration: none;
            color: white;
            font-size: 1.4em;
            padding: 0.7em;
        }

        .nav_txt a:hover {
            text-decoration: underline;
            color: rgb(206, 206, 206);
        }

@media(max-width:850px) {
    .nav_logo {
        padding: 1em;
    }

        .nav_logo img {
            padding: 0.5em;
            width: 6em;
        }

    .nav_txt {
        margin-top: 2.5em;
        margin-right: 1em;
        padding: 1em;
    }

        .nav_txt a {
            font-size: 1.4em;
            padding: 0.7em;
        }
}

@media(max-width:599px) {
nav {
    display: block;
    text-align: center;
}

    .nav_logo {
        padding: 1em;
    }

        .nav_logo img {
            padding: 0.5em;
            width: 6em;
        }

    .nav_txt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0em;
        margin-right: 0em;
        padding: 1em;
    }

        .nav_txt a {
            font-size: 1.4em;
            padding: 0.3em;
        }
}

.main_content {
    margin-top: 3em;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 3px 4px rgba(0,0,0,0.45);
    padding: 1em;
}

    .main_content h1 {
        color: #4ECDC4;
    }

    .sub_content h3 {
        
    }

    .sub_content a button {
        min-width: 150px;
        height: 43px;
        color: #fff;
        padding: 5px 10px;
        font-size: 0.85em;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: 2px solid #d90429;
        background: #d90429;
    }

    .sub_content a button:hover {
        transition: all 0.3s ease;
        background: #fff;
        color: #d90429
    }

    .sub_content a button:active {
        transition: none;
        min-width: 145px;
        height: 41px;
        font-size: 0.80em;
        background: rgb(119, 119, 119);
        color: #520c18
    }

@media(max-width:599px) {
.main_content {
    margin-top: 3em;
    font-size: 1.1em;
    padding: 1em;
}
}

.presentation {
    background-color: #39a79f;
    margin-top: 15em;
    font-size: 1.1em;
    text-shadow: 1px 3px 4px rgba(0,0,0,0.35);
    padding: 5em;
}

    .txt_presentation {
        margin-right: 45%;
        text-align: left;
    }

    .txt_presentation h2 {
        font-size: 1.8em;
        text-align: left;
    }

    .txt_presentation2 {
        margin-top: 5em;
        margin-left: 55%;
        text-align: left;
    }

    .txt_presentation2 h2 {
        font-size: 1.8em;
        text-align: left;
    }

@media(max-width:850px){
.presentation {
    margin-top: 15em;
    margin-bottom: 2em;
    font-size: 1.1em;
    padding: 3em;
}

    .txt_presentation {
        margin-right: 0%;
        text-align: center;
    }

    .txt_presentation h2 {
        font-size: 1.8em;
        text-align: center;
    }

    .txt_presentation2 {
        margin-top: 5em;
        margin-left: 0%;
        text-align: center;
    }

    .txt_presentation2 h2 {
        font-size: 1.8em;
        text-align: center;
    }
}

@media(max-width:599px){
.presentation {
    margin-top: 10em;
    margin-bottom: 2em;
    font-size: 1em;
    padding: 1em;
}

    .txt_presentation h2 {
        font-size: 1.5em;
    }

    .txt_presentation2 {
        margin-left: 0%;
    }

    .txt_presentation2 h2 {
        font-size: 1.5em;
    }
}

footer {
    text-align: center;
    font-size: 1.3em;
    padding: 0.5em;
}

    .img_footer a img {
        width: 3.5em;
        height: auto;
        padding: 1em;
    }

@media(max-width:850px) {
footer {
    font-size: 1.2em;
}

    .img_footer a img {
        width: 3.4em;
        padding: 0.9em;
    }
}

@media(max-width:599px) {
footer {
    font-size: 1em;
}

    .img_footer a img {
        width: 3em;
        padding: 1em;
    }
}



/* ##### Animation Effect ##### */
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 

.opacityEffect {
    animation-name: opacity;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    }
    @keyframes opacity {
        from {
          opacity: 0;
        }
        
        to {
          opacity: 1;
        }
}